In [1]:
#tipicas
import pandas as pd
import numpy as np

#para la creacion de carpetas
import os
import shutil

#para el test-train split
import splitfolders #(necesita pip install split-folders)

In [2]:
#importamos el df con las labels
path_csv = "/home/vvdiaz1/code/vvdiaz1/automatic_tagging/raw_data/filtered_styles_full.csv"
df = pd.read_csv(path_csv)

In [3]:
img_names = os.listdir("/home/vvdiaz1/code/vvdiaz1/automatic_tagging/raw_data/data_full")
list_id = []
for i in img_names:
    list_id.append(int(i[:-4]))

In [4]:
len(list_id)

44288

In [5]:
aux = df.drop(df.columns.difference(['id', 'masterCategory','subCategory']),1)
aux = aux[aux.id.isin(list_id)]
aux['name'] = aux['id'].apply(str) +'.jpg'
aux

/tmp/ipykernel_1062/4194183816.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  aux = df.drop(df.columns.difference(['id', 'masterCategory','subCategory']),1)

          id masterCategory subCategory       name
0      15970        Apparel     Topwear  15970.jpg
1      39386        Apparel  Bottomwear  39386.jpg
2      59263    Accessories     Watches  59263.jpg
3      21379        Apparel  Bottomwear  21379.jpg
4      53759        Apparel     Topwear  53759.jpg
...      ...            ...         ...        ...
44283  17036       Footwear       Shoes  17036.jpg
44284   6461       Footwear  Flip Flops   6461.jpg
44285  18842        Apparel     Topwear  18842.jpg
44286  46694  Personal Care   Fragrance  46694.jpg
44287  51623    Accessories     Watches  51623.jpg

[44288 rows x 4 columns]

In [94]:
aux.to_csv('filtered_styles_half.csv',index = False)

In [6]:
classes = aux.sort_values('masterCategory')
class_names = np.unique(aux.masterCategory).tolist()
class_names

['Accessories', 'Apparel', 'Footwear', 'Personal Care']

In [7]:
for i in class_names:
    os.makedirs(os.path.join("/home/vvdiaz1/code/vvdiaz1/automatic_tagging/raw_data/data_sort_1",i))

In [8]:
for i in class_names:   
    for c in list(aux[aux['masterCategory']== i]['name']):
    # Creating path to the image
        get_image = os.path.join("/home/vvdiaz1/code/vvdiaz1/automatic_tagging/raw_data/data_full",str(c))
        if not os.path.exists("/home/vvdiaz1/code/vvdiaz1/automatic_tagging/raw_data/data_sort_1/"+i+"/"+c):
            move = shutil.copy(get_image,"/home/vvdiaz1/code/vvdiaz1/automatic_tagging/raw_data/data_sort_1/"+i)

In [9]:
input_folder = "/home/vvdiaz1/code/vvdiaz1/automatic_tagging/raw_data/data_sort_1/"
output_folder = "/home/vvdiaz1/code/vvdiaz1/automatic_tagging/raw_data/split1"

In [10]:
splitfolders.ratio(input_folder, output=output_folder,
                    seed=42,
                    ratio=(.7, .2, .1), #usamos 70% train, 20% val, 10% test 
                    group_prefix=None)